.container {
    width: 350px;
    margin: 0 auto;
}

.select2-selection.select2-selection--single {
    border: none;
    background-color: transparent;
}

.select2 {
    width: 350px !important;
    padding: 12px 15px;
    background: #F5F5F5;
}

.select2-dropdown.select2-dropdown--below {
    padding: 15px 0 10px 15px;
}

.select2-container--open {
    background-color: #ffffff!important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: -13px;
    margin-top: 10px;
}

.select2-dropdown {
    box-shadow: 0 8px 10px rgba(0,0,0,0.5);
    border: none;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: transparent;
    color: black;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: transparent;
    color: black;
}

.dialog__hide-title {
    font-size: 16px;
    line-height: 20px;
    color: #252A2F;
    margin-bottom: 15px;
    margin-top: 7px;
}

.input-phone {
    padding: 12px 15px;
    box-sizing: border-box;
    background: #F5F5F5;
    width: 100%;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
